.github/
.github_old/
build/
docs/
extension/
lib/
po/
reddit-bot/
resources/
site/
src/
tools/

.eslintignore
.jshintrc
CHANGELOG.txt
CONTRIBUTING.md
EXTENSION_README.txt
manifest.json
sites.txt
tsconfig.json
userscript.meta.js
userscript_smaller.user.js